<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followings_user_path(@user) %>">
    <strong id="followings" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>